

.input {
	font-size: 14px;
	padding: 5px 10px;
	width: 100%;
	outline: none;
	background: white;
	color:var(--text-color-black);
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	transition: .3s ease;
}
.input:focus {
	background: #F2F2F2;
	border: 1px solid var(--color-salat);
	border-radius: 9px;
}

.input::placeholder {
	color: var( --text-color-grey);
}
.input--custom {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
    margin-bottom: 1rem;
}


