
.about__block--position {
    padding-bottom: 1.5rem;
}
.about__text {
    margin-right: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.about__text > p {
    font-family: var(--text-Medium);
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.2rem;
}

.about__image {
    width: 95%;
    height: auto;
    border-radius: .3rem;
}

.about__title {
    display: flex;
    justify-content: space-between;
    margin-left: -2rem;
    padding: 1.5rem 0 1rem ;
    
}




@media (max-width: 768px)
{
    .about__block--position {
         display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
    }
    .title .title__text--about{
       font-size: 1.8rem;
    }

    .about__text {
        width: 280px;
        height: 90px;
    }

    .about__image {
        max-width: 320px;
        height: auto;
    }
      .about__icon {
        display: none;
    }
}

@media (min-width: 768px) 
{
    .about__block--position {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .about__text {
        width: 312px;
        height: 160px;
    }

    .about__image {
        max-width: 360px;
        height: auto;
    }
    .about__icon {
        display: none;
    }

}
@media (min-width: 1110px) {
    .about__text {
        width: 400px;
        height: 160px;
    }
     .title .title__text--about{
       font-size: 1.8rem;
    }
     .about__icon {
        display: flex;
    }
}

@media (min-width: 1440px) {
    .about__text {
        width: 490px;
        height: 160px;
    }

    .about__image {
        max-width: 531px;
        height: auto;
    }
   
   
}

@media (min-width: 1250px) {
     .title .title__text--about{
        font-size: 2.5rem;
    }
   
}
