.card__list--brand{
display: grid;

grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 15px;
padding: 20px;

}

.card__item--brand{
   display: flex;
   align-items: center;
    width: 240px;
   height: 72px; 
   padding: 10px;
    background: white;
}
.card__content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.card__img{
background-size: 100% 100%;
}

.card__img--lenovo{
    width: 108px;
    height: 32px;
    background-image: url("../image/content/lenovo.png");
}
.card__img--bosch{
    width: 128px;
    height: 28px;
    background-image: url("../image/content/bosch.png");
}
.card__img--samsung{
    width: 116px;
    height: 38px;
    background-image: url("../image/content/samsung.png");
}
.card__img--hp{
    width: 52px;
    height: 52px;
    background-image: url("../image/content/hp.png");
}
.card__img--apple{
    width: 44px;
    height: 44px;
    background-image: url("../image/content/apple.png");
}
.card__img--acer{
    width: 94px;
    height: 24px;
    background-image: url("../image/content/acer.png");
}
.card__img--viewSonic{
    width: 128px;
    height: 21px;
    background-image: url("../image/content/viewSonic.png");
}
.card__img--sony{
    width: 128px;
    height: 25px;
    background-image: url("../image/content/sony.png");
}