/* nav-menu ------------------------ */
.nav-menu {
    padding: 30px 0 20px;
}

.nav-menu__block {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


/* Title */
.nav-menu__title {
    display: flex;
    align-items: center;
}

.nav-menu__title--line {
    display: flex;
    width: 4px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: var(--color-salat);
}

.nav-menu__title > h1 {
    font-family: "TTLakesMedium";
    font-weight: bold;
    font-size: 28px;
    margin-left: 16px;

}

/* icon list */

.icon__link--nav-menu {
    display: flex;
    align-items: center;
}
.icon__text--nav-menu {
    white-space: nowrap;
    font-family:" TTLakesMedium";
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-black);
    margin-right: 20PX;
}





/* Slide-menu */

.nav-menu__slide--list {
    display: flex;
    align-items: start;
    width: 90%;
    overflow: scroll;
    overflow-y: hidden;
}


.nav-menu__slide--item {
   padding: 5px 10px;
}

.nav-menu__slide--link {
    list-style-type: none;
    white-space: nowrap;
    font-family: "TTLakesMedium";
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-grey);
}

.nav-menu__slide--active {
    border: 2px solid var(--color-salat-last);
    border-radius: 6px;
    background: white;
}


@media (min-width: 320px) {
    .icon__list--nav-menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .icon__list--nav-menu {
        display: none;
    }
}

@media (min-width: 1120px) {
    .icon__list--nav-menu {
        display: flex;
    }

    .nav-menu__slide--list {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}