/* .slide-menu {
    display: flex;
    align-items: start;
    width: 90%;
    margin-bottom: 20px;
    overflow: scroll;
    overflow-y: hidden;
} */

.menu__list{
    display: flex;
    align-items: start;
    width: 90%;
    margin-bottom: 20px;
    overflow: scroll;
    overflow-y: hidden;

}
.menu__item{
    padding: .5rem .7rem; 
}
.menu__item--active{
     border: .1rem solid var(--color-salat-last);
    border-radius: .4rem;
    background: white;
}
.menu__link{
     white-space: nowrap;
    font-family: var(--text-Medium);
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color-grey);
}




@media (min-width: 1120px) {
    
    .menu__list {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    }
