

.btn__img{
    width: 7px;
    height: 12px;
    background-size: 100% 100%;
    background-position: center center; 
 
}

/* arrow */
.btn__img--arrowPink{
    background-image: url("../../image/icon/arrowPink.png");
}

.btn--arrow{
    display: flex;
     margin-bottom: 1rem;
    font-family: var(--text-regular);
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color-black);
}

.btn__img--arrow{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    background-size: .8rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../image/icon/arrowGreen.png")
}


/* menu */
.btn--slide-menu{
    padding: .5rem .7rem;
    white-space: nowrap;
    font-family: var(--text-Medium);
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color-grey);
}

.btn--slide-menu--active {
    border: .2rem solid var(--color-salat-last);
    border-radius: .4rem;
    background: white;
}

/* circle */
.btn--circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.btn--pink{
   background: var(--color-Pink);
}
.btn--bg-size{
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: center center;
 }
.btn--call{  
   background-image: url("../../image/icon/call.png");
}
.btn--message{  
   background-image: url("../../image/icon/message.png");
}

.btn--people{  
   background-image: url("../../image/icon/people.png");
}

.btn--repair{  
   background-image: url("../../image/icon/repair.png");
}

.btn--checkStatus{  
   background-image: url("../../image/icon/checkStatus.png");
}



/* burger */
.btn--burger {
    flex-direction: column;
    align-items: start;
    background-color: var(--color-Pink);
}

.btn__line--burger {
    height: 2px;
    margin-left: 10px;
    background-color: white;
    border-radius: 2px;
}

.btn__line--line1 {
    width: 18px;
    margin-bottom: 5px;
}

.btn__line--line2 {
    width: 10px;
    margin-bottom: 5px; 
}

.btn__line--line3 {
    width: 14px;
}


/* about */

.btn--theme-about{
    display: flex;
    align-items: center;
}

.btn__text--about{
     white-space: nowrap;
    font-family: var(--text-Medium);
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color-black);
    margin-right: 1rem;
}