

.title__text{
font-family:var(--text-regular);
font-weight: 500;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;

}


.title--theme-about{
    display: flex;
    align-items: center;
}
.title__line--about{
    display: flex;
    width: 5px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: var(--color-salat);
}

.title__text--about{
    font-family: var(--text-Bold);
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0.8rem;

}