
@font-face {  

    font-family: "TTLakesMedium";  
    src: url("../fonts/TTLake/TTLakes-Medium.eot");  
    src: url("../fonts/TTLake/TTLakes-Medium.eot?#iefix")format("embedded-opentype"),  
    url("../fonts/TTLake/TTLakes-Medium.woff") format("woff"),  
    url("../fonts/TTLake/TTLakes-Medium.ttf") format("truetype"); 
    font-style: normal;  
    font-weight:400 500 700; 

}

@font-face {  

    font-family: "TTLakesBold";  
    src: url("../fonts/TTLake/TTLakes-Bold.eot");  
    src: url("../fonts/TTLake/TTLakes-Bold.eot?#iefix")format("embedded-opentype"),  
    url("../fonts/TTLake/TTLakes-Bold.woff") format("woff"),  
    url("../fonts/TTLake/TTLakes-Bold.ttf") format("truetype"); 
    font-style: bold;  
    font-weight:400 500 700; 

}
@font-face {  

    font-family: "TTLakesRegular";  
    src: url("../fonts/TTLake/TTLakes-Regular.eot");  
    src: url("../fonts/TTLake/TTLakes-Regular.eot?#iefix")format("embedded-opentype"),  
    url("../fonts/TTLake/TTLakes-Regular.woff") format("woff"),  
    url("../fonts/TTLake/TTLakes-Regular.ttf") format("truetype"); 
    font-style: normal;  
    font-weight:400 500 700; 

}