
.footer__layout{
    max-width: 1300px;
    margin: 0 auto;
    background: var(--bg-color-gray);
}
.footer__block{
    margin-top: 3rem;
    padding: 1rem ;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   
}
.footer__text  p{
font-family: var(--text-regular);
font-weight: 500;
font-size: .8rem;
line-height: 16px;
letter-spacing: 0px;
 color: var(--text-color-grey);
}
.footer__text  a{
    text-decoration: none;
}

.footer__text--left{
text-align: left;
}
.footer__text--right{
text-align: right;
}


@media (max-width: 767px) {
    .footer__block{
        grid-template-columns:1fr;
        justify-items: center;
    }
    .footer__text {
        text-align: center;
        margin-bottom: 1rem;
    }
   
}

@media (min-width: 768px) and (max-width: 1439px){   

}

@media (min-width: 1440px) {
       
    
}
    